/* Global */

html,body{
  margin : 0;
  width: 100%;
  height: 100%;
}

/* Threejs Canvas */ 

canvas{
  top: 0;
  left: 0;
  position: absolute;
}

/* UI */

#backBtn{
  color: white;
  font-size: 30px;

  position: absolute;
  left : 2%;
  top: 2%;

  z-index: 1;
  animation: fadein 2s ease-in;
}


#soundBtn,#muteBtn{
  fill: white;
  position: absolute;
  right : 2%;
  top: 2%;

  z-index: 1;
}

#soundBtn:hover ,#muteBtn:hover , #backBtn:hover{
  fill: silver;
}

#soundBtn , #muteBtn, #backBtn {
  transition: 0.5s;
}

#soundBtn:hover , #muteBtn:hover, #backBtn:hover {
  cursor: pointer;
}


/* Content */ 

.content{
  color: white;
  position: absolute;
  left: 2%;
  top: 5%;

  width: 40%;
  height: 80%;
  z-index: 1;

  font-size: 1.5rem;

  animation: fadein 2s ease-in;
}

.content .fullname {
  margin: 1% 0%;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.content .categoryName {
  margin: 1% 0%;
  font-weight: bold;
}
.content .text {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content .text::-webkit-scrollbar{
  display: none;
}

.invisible{
  display:none;
}

@keyframes fadein {
  from{opacity: 0;}
  to {opacity: 1;}
}


/* Loading screen */
@import url(./assets/fonts/SpaceAge.ttf);


